*{
	margin:0px auto;
	padding:0px;
	box-sizing:border-box;
}
.cistac {
	clear:both;
}
body{
    font-family: 'Yrsa', serif; 
}
html {
    scroll-behavior:smooth;
}
header{
    width:100%;
    display:flex;
    justify-content:space-around;
    position:fixed;
    top:0;
    z-index:999;
    min-height:80px;
    background-color:rgba(51,51,51,.65);
}
#ab{
    padding-top:80px;
}
#con{
    padding-top:80px;
}
#logo{
    margin-left:7%;
    padding-top:3px;
}
#textCover{
    position:absolute;
    bottom:30%;
    left:12%;
    color:white;
    padding:60px;
    text-align:justify;
}
#textCover h1{
    font-size:40px;
}
#textCover span{
    color:chartreuse;
}
#textCover p{
    font-size:25px;
}
#view{
    width: 100%;
    text-align:center;
    position:absolute;
    bottom:10%;
    font-size:22px;
    color:white;
}
#view .fa-angle-double-down{
    color: chartreuse;
    font-size:30px;
    padding:20px;
}
#cover{
    width:100%;
    height:650px;
    background-image:url(../img/cover.jpg);
    background-size:cover;
    position:relative;
}
nav{
    width:50%;
    padding-left:10%;
}
nav ul{
    display:flex;
    justify-content:space-around;
    list-style-type:none;
}
nav ul li{
    display:list-item;
    padding:20px 15px;
}
nav ul li a{
    text-decoration:none; 
    font-size:25px;
    color:white;
}
nav ul li a:hover{
    color:chartreuse;
}
#content{
    width:100%;
    margin-top:20px;
}
.block{
    width:90%;
    display:flex;
    justify-content:space-around;   
    margin-top:50px;
    margin-bottom:50px;
}
.bLeft{
    width:40%;
    min-height:50px;
}
.bRight{
    width:45%;
    min-height:50px;
    text-align:center;
}
#content .block .description{
    text-align:center;
    width:200px;
    margin-top:20px;
    padding-bottom:15px;
}
#content .block .description h2{
    font-size:30px;
    padding:10px;
}
#content .block .bLeft #aText p{
    padding-top:20px;
    font-size:25px;
    word-wrap:break-word;
    text-align:justify;
}
#content .block .bLeft #skills{
    width:100%;
    display:block;
    margin-top:20px;
}
#content .block .bLeft #skills p{
    font-size:25px;
    background: rgba(51,51,51,.65);
    background: -webkit-linear-gradient(to right,#00F260, rgba(51,51,51,.65));  
    background: linear-gradient(to right,#00F260 , rgba(51,51,51,.65)); 
    padding:10px;
    margin-bottom:30px;
}
#content .block .bLeft #skills .sk1{
    width:90%;
    float:left;
}
#content .block .bLeft #skills .sk2{
    width:75%;
    float:left;
}
#content .block .bLeft #skills .sk3{
    width:80%;
    float:left;
}
#content .block .bLeft #skills .sk4{
    width:65%;
    float:left;
}
#content .block .bLeft #skills span{
    float: right;
}
.block .bRight img{
    padding-top:50px;
}
#projects{
    width:100%;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    padding: 70px;
    margin-top: 100px;
}
#projects .pro{
    width:33%;
    text-align:center;
    padding:30px;
}
#projects .pro p{
    padding:10px;
    font-size: 20px;
}
#projects .pro img{
    width: 50%;
}
#projects .hov img:hover{
    opacity:0.7;
}
#myProject p{
    padding-top:10px;
    font-size: 20px;
}
#textCover .fa-map-marker{
    color:chartreuse;
}
#icon{
    margin-top:100px;
    width:90%;
    display:flex;
    justify-content:space-around;
    margin-bottom:70px;
    flex-wrap:wrap;
}
#icon .icons{
    display:block;
    padding-top:30px;
    width:25%;
}
#icon .icons .iIcons{
    font-size:100px;
    color:rgba(51,51,51,.65);
    text-align:center;
}
#icon .icons .tIcons{
    width:70%;
    text-align: center;
}
#icon .icons .tIcons{
    font-size:25px;
}
#location iframe{
   width: 100%;
   height:300px;
}
form{
    width:90%;
    margin-top:10px;
}
form input, textarea{
    width:100%;
    padding:2%;
    margin:2%;
    border:none;
    border-bottom:1px dashed rgba(51,51,51,.65);
}
form #btn{
    width:35%;
    background-color:rgba(51,51,51,.65);
    border:none;    
    font-size:25px;
    color: white;
}
form #btn:hover{
    color:chartreuse;
}
.bRight #info{
    width:90%;
    margin-top:5px;
}
.bRight #info .infoAbout{
    width:80%;
    font-size:25px;
    padding:30px;
    margin-top:10px;
}
.infFafa{
    float:left;
    margin-left:10px;
}
.bRight #info .infoAbout p{
    float:left;
    margin-left:20px;
}
.infoAbout .fa-address-card-o, .fa-envelope-open-o,.fa-phone, .fa-map-marker,.fa-rss-square,.fa-sitemap,.fa-css3,.fa-mobile-phone,.fab{
    color:rgba(51,51,51,.65);
}
.infoAbout .fa-rss-square,.fa-sitemap,.fa-mobile-phone, .fab{
    font-size:30px;
}
.infoAbout .fa-rss-square:hover{
    color: chartreuse;
}
.infoAbout .fa-css3:hover{
    color: chartreuse;
}
.infoAbout .fa-mobile-phone:hover{
    color: chartreuse;
}
.infoAbout .fa-sitemap:hover{
    color: chartreuse;
}
.infoAbout .fab:hover{
    color: chartreuse;
}
#info .space{
    word-spacing:20px;
}
footer{
    width:100%;
    background-image:url(../img/footer.jpg);
    background-size:cover;
    height:55px;
    text-align:center;
}
footer p{
    font-size:25px;
    padding-top:15px;
}
